//colors
$Light_green: #7ed56f; //light
$Medium_green: #55c57a; //primary
$Dark_green: #28b485; //dark

//cards color
$color-secondary-light:#ffb900;
$color-secondary-dark:#ff7730;

$color-tertiary-light:#2998ff;
$color-tertiary-dark:#5643fa;


$gray: #777;
$dark_gray:#eee;
$white: #fff;
$light_gray:#f7f7f7;
$dark_black:black;

//grid-system
$width:114rem;
$gutter-horizontal:6rem;
$gutter-vertical:8rem;